<% content_for :page_title do %>
  <%= Spree.t(:listing_redirects) %>
<% end %>
<% content_for :page_actions do %>
  <%= link_to icon('add') + ' ' + t(".new_redirect"), new_admin_redirect_url, :id => "new_redirect_link", class: 'btn btn-success' %>
<% end %>

<% content_for :table_filter do %>
  <div data-hook="admin_property_sidebar">
    <%= search_form_for [:admin, @search] do |f| %>

      <%- locals = {:f => f} %>

      <div class="row">
        <div class="col col-md-6">
          <div data-hook="admin_property_index_search" class="form-group">
            <%= f.label :old_url_cont, Spree.t(:old_url) %>
            <%= f.text_field :old_url_cont, :class => "form-control js-quick-search-target" %>
          </div>
        </div>
        <div class="col col-md-6">
          <div data-hook="admin_property_index_search" class="form-group">
            <%= f.label :new_url_cont, Spree.t(:new_url) %>
            <%= f.text_field :new_url_cont, :class => "form-control" %>
          </div>
        </div>
      </div>
      <div class="form-actions" data-hook="admin_properties_index_search_buttons">
        <%= button Spree.t(:search), 'search' %>
      </div>

    <% end %>
  </div>
<% end %>


<table class="index table">
  <thead>
	<tr>
    	<th><%= sort_link @search, :old_url,  t('redirect.old_url') %></th>
    	<th><%= sort_link @search, :new_url, t('redirect.new_url') %></th>
    	<th><%= t('action') %></th>
	</tr>
  </thead>
  <tbody>
    <%- @collection.each do |redirect|%>
    <tr id="<%= dom_id redirect %>">
      <td><%= redirect.old_url %></td>
      <td><%= redirect.new_url %></td>
      <td>
      	<%= link_to_edit redirect %> &nbsp;
      	<%= link_to_delete redirect %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @collection %>
